@{
    ViewData["Title"] = "Success";
}

<div class="text-center">
    <h1 class="display-4">Success</h1>

    <p>Your thesis has been added successfully.</p>

    <a class="btn btn-primary" asp-action="Index">Create New Thesis</a>
</div>