@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thesis Platform</h1>

    <p>Welcome to the Thesis Platform</p>
</div>
<div class="text-center mt-5">
    <h1>200706001 - Adem Erdem Kurt</h1>
    <h1>200706004 - Nisa Dost</h1>
    <h1>200706021 - Sena Yılmaz</h1>
    <h1>220706301 - Yiğit Aktüre</h1>
</div>
